@tailwind base;
@tailwind components;
@tailwind utilities;

.boxShadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.placeholder-white::placeholder {
  color: gray;
}

.content {
  position: relative;
  padding: 20px;
}

.wave path {
  fill: rgb(29 78 216 / var(--tw-bg-opacity));
}

.wave-2 path {
  fill: rgb(59 130 246 / var(--tw-bg-opacity));
}

.maskDiv {
  -webkit-mask-image: linear-gradient(
    to top,
    transparent 2%,
    black 10%
  ) !important;
}
